.viewer {
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    min-height: 100vh;
    overflow: auto;
    padding: 10vh 0;
    opacity: 0;
    transition: opacity .2s;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
}

.viewer--shown {
    opacity: 1;
}

.viewer-image {
    width: 100%;
    height: 100%;
    transition: opacity .2s;
}

.viewer-gap {
    width: 10vw;
    height: 100%;
}

